.button {
    padding: 1em;
    cursor: pointer;
    border: transparent;
}
.button:hover {
    transition: ease-in-out 2s;
    transform: scale(1.2);
    background: rgb(169, 116, 204);
    color: #000;
}

